apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - uid: loki
    orgId: 1
    name: Loki
    type: loki
    typeName: Loki
    access: proxy
    url: http://loki:3100
    #    jsonData:
    #      maxLines: 1000
    #      derivedFields:
    #        - datasourceUid: tempo
    #          matcherRegex: "trace_id=([0-9a-f]+)"
    #          name: TraceID
    #          url: "${__value.raw}"
    #        - datasourceUid: tempo
    #          matcherRegex: "span_id=([0-9a-f]+)"
    #          name: SpanID
    #          url: "${__value.raw}"

    #  - uid: tempo
    #    orgId: 1
    #    name: Tempo
    #    type: tempo
    #    editable: true
    #    typeName: Tempo
    #    access: proxy
    #    url: http://tempo:3200  # Измените на ваш URL Tempo
    # Если нужно раскомментировать и настроить опции ниже:
    # jsonData:
    #   tracesToLogsV2:
    #     datasourceUid: 'loki'
    #     spanStartTimeShift: '-1h'
    #     spanEndTimeShift: '1h'
    #     tags: ['job', 'instance', 'pod', 'namespace']
    #     filterByTraceID: false
    #     filterBySpanID: false
    #     customQuery: true
    #     query: 'method="${__span.tags.method}"'
    #   tracesToMetrics:
    #     datasourceUid: 'prometheus'
    #     spanStartTimeShift: '-1h'
    #     spanEndTimeShift: '1h'
    #     tags: [{ key: 'service.name', value: 'service' }, { key: 'job' }]
    #     queries:
    #       - name: 'Sample query'
    #         query: 'sum(rate(traces_spanmetrics_latency_bucket{$$__tags}[5m]))'
    #   tracesToProfiles:
    #     datasourceUid: 'pyroscope'
    #     tags: ['job', 'instance', 'pod', 'namespace']
    #     profileTypeId: 'process_cpu:cpu:nanoseconds:cpu:nanoseconds'
    #     customQuery: true
    #     query: 'method="${__span.tags.method}"'
    #   serviceMap:
    #     datasourceUid: 'prometheus'
    #   nodeGraph:
    #     enabled: true
    #   search:
    #     hide: false
    #   traceQuery:
    #     timeShiftEnabled: true
    #     spanStartTimeShift: '-1h'
    #     spanEndTimeShift: '1h'
    #   spanBar:
    #     type: 'Tag'
    #     tag: 'http.path'
    #   streamingEnabled:
    #     search: true

  - uid: victoria-metrics
    orgId: 1
    name: VictoriaMetrics
    type: prometheus
    editable: true
    typeName: VictoriaMetrics
    access: proxy
    url: http://victoriametrics:8428

  - uid: pyroscope
    name: Pyroscope
    type: grafana-pyroscope-datasource
    editable: true
    url: http://pyroscope:4040
    access: proxy
    typeName: Pyroscope

  - uid: alertmanager
    name: Alertmanager
    type: alertmanager
    url: http://alertmanager:9093
    access: proxy
    jsonData:
      # Valid options for implementation include mimir, cortex and prometheus
      implementation: prometheus
      # Whether or not Grafana should send alert instances to this Alertmanager
      handleGrafanaManagedAlerts: false
    # optionally
    basicAuth: true
    basicAuthUser: my_user
    secureJsonData:
      basicAuthPassword: test_password
