apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - uid: loki
    orgId: 1
    name: Loki
    type: loki
    typeName: Loki
    access: proxy
    url: http://loki:3100
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "trace_id=([0-9a-f]{32})"
          name: TraceID
          url: "$${__value.raw}"
          urlDisplayLabel: "Open in Tempo"

  - uid: tempo
    orgId: 1
    name: Tempo
    type: tempo
    editable: true
    typeName: Tempo
    access: proxy
    url: http://tempo:3200
    jsonData:
      tracesToLogsV2:
        datasourceUid: loki
        spanStartTimeShift: "-1m"
        spanEndTimeShift: "1m"
        filterByTraceID: true
        filterBySpanID: false
        customQuery: true
        query: '{service="backend"} | logfmt | trace_id="$${__trace.traceId}"'
      tracesToMetrics:
        datasourceUid: victoria-metrics
        spanStartTimeShift: "-2m"
        spanEndTimeShift: "2m"
        tags:
          - key: "service.name"
            value: "service"
        queries:
          - name: "Request rate"
            query: 'rate(traces_spanmetrics_calls_total{service="$${__span.tags["service.name"]}",span_name="$${__span.name}"}[2m])'
          - name: "Error rate"
            query: 'rate(traces_spanmetrics_calls_total{service="$${__span.tags["service.name"]}",span_name="$${__span.name}",status_code="STATUS_CODE_ERROR"}[2m])'
          - name: "P99 latency"
            query: 'histogram_quantile(0.99, rate(traces_spanmetrics_latency_bucket{service="$${__span.tags["service.name"]}",span_name="$${__span.name}"}[2m]))'
      tracesToProfiles:
        datasourceUid: pyroscope
        profileTypeId: "process_cpu:cpu:nanoseconds:cpu:nanoseconds"
        customQuery: false
      serviceMap:
        datasourceUid: victoria-metrics
      nodeGraph:
        enabled: true
      search:
        hide: false
      traceQuery:
        timeShiftEnabled: true
        spanStartTimeShift: "-1m"
        spanEndTimeShift: "1m"

  - uid: victoria-metrics
    orgId: 1
    name: VictoriaMetrics
    type: prometheus
    editable: true
    typeName: VictoriaMetrics
    access: proxy
    url: http://victoriametrics:8428

  - uid: pyroscope
    name: Pyroscope
    type: grafana-pyroscope-datasource
    editable: true
    url: http://pyroscope:4040
    access: proxy
    typeName: Pyroscope

  - uid: alertmanager
    name: Alertmanager
    type: alertmanager
    url: http://alertmanager:9093
    access: proxy
    jsonData:
      # Valid options for implementation include mimir, cortex and prometheus
      implementation: prometheus
      # Whether or not Grafana should send alert instances to this Alertmanager
      handleGrafanaManagedAlerts: false
    # optionally
    basicAuth: true
    basicAuthUser: my_user
    secureJsonData:
      basicAuthPassword: test_password
