services:
  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.131.0
    container_name: victoriametrics
    ports:
      - "8428:8428"  # HTTP порт (UI, API)
      - "8089:8089"  # Graphite
      - "2003:2003"  # Graphite plaintext
      - "4242:4242"  # OpenTSDB
    volumes:
      - victoriametrics_data:/storage
    command:
      - -storageDataPath=/storage
      - -httpListenAddr=:8428
      - -graphiteListenAddr=:2003
      - -opentsdbListenAddr=:4242
      - -influxListenAddr=:8089
      - -envflag.enable=true
      - -envflag.prefix=VM_
      - -loggerFormat=json
    environment:
      VM_retentionPeriod: 12  # Хранение данных 12 месяцев
      VM_search_maxUniqueTimeseries: 1000000
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8428/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - monitor_network

  vmalert:
    image: victoriametrics/vmalert:v1.131.0
    container_name: vmalert
    ports:
      - "8880:8880"
    volumes:
      - ./victoriametrics/rules:/etc/rules
    command:
      - '--datasource.url=http://victoriametrics:8428'
      - '--remoteRead.url=http://victoriametrics:8428'
      - '--remoteWrite.url=http://victoriametrics:8428'
      - '--notifier.url=http://alertmanager:9093'
      - '--rule=/etc/rules/*.yaml'
    networks:
      - monitor_network

  alertmanager:
    image: prom/alertmanager:v0.29.0
    container_name: alertmanager
    volumes:
      - ./alertmanager/:/etc/alertmanager/
    command:
      - '--config.file=/etc/alertmanager/config.yaml'
      - '--storage.path=/alertmanager'
    ports:
      - "9093:9093"
    networks:
      - monitor_network

  alloy:
    image: grafana/alloy:v1.12.0
    container_name: alloy
    privileged: true
    ports:
      - "12345:12345"
      - "4317:4317"
      - "4318:4318"
    environment:
      ALLOY_DEPLOY_MODE: docker
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy
      - /proc:/rootproc:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys:/sys:ro
      - /:/rootfs:ro
      - /dev/disk/:/dev/disk:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    extra_hosts:
      - "host.docker.internal:host-gateway"
    devices:
      - /dev/kmsg
    networks:
      - monitor_network

  loki:
    image: grafana/loki:main-f22e854
    container_name: loki
    user: root
    command:
      - "-config.file=/etc/loki/config.yaml"
      - "-config.expand-env=true"
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki
      - ./loki/config.yaml:/etc/loki/config.yaml
      - loki_chunks:/tmp/loki/chunks
      - loki_index:/tmp/loki/index
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - monitor_network

  grafana:
    image: grafana/grafana:12.4.0-20082909961-ubuntu
    container_name: grafana
    user: root
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_ADMIN_USER:-admin}
      - GF_USERS_ALLOW_SIGN_UP=false
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "3000:3000"
    networks:
      - monitor_network

  #  pushgateway:
  #    image: prom/pushgateway:v1.6.0
  #    container_name: pushgateway
  #    ports:
  #      - 9091:9091
  #    networks:
  #      - monitor_network


networks:
  monitor_network:
    name: "monitor_network"
    driver: bridge

volumes:
  loki_data:
  loki_chunks:
  loki_index:
  grafana_data:
  victoriametrics_data:
